/* CSS du projet 02 - Booki */


/* Typographies : Raleway*/

	@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	*
	{
		font-family: 'Raleway', 'sans-serif', impact, arial;
		font-size: 1em;
		text-decoration: none;
		color: black;
		margin: 0;
		padding: 0;
	}


/* HEADER */

	header
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

/* HEADER : LOGO */

	.logo img
	{
		width: 50%;
		height: auto;
		padding: 10px;
		
	}

/* HEADER : NAV */

	nav
	{
		display: flex;
	}

	header nav a
	{
		font-family: 'Raleway', 'sans-serif', impact, arial;
		font-size: 1em;
		text-decoration: none;
		color: black;
		font-weight: 500;

	}

	header nav a:hover
	{
		color: #0065fc;

	}

	.bouton_nav
	{
		padding: 20px;
		border-top: 2px white solid ;
	}

	.bouton_nav a
	{
		width: 35%;
	}

	.bouton_nav:hover
	{
		border-top: 2px #0065fc solid;	
	}

	.bouton_nav:hover a{
		color: blue;
	}


/* body */

	body
	{
		width: 1280px;
		margin: auto;
	}

	#main_page
	{
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;
	}

	h1
	{
		font-family: 'Raleway', 'sans-serif', impact, arial;
		font-size: 1.3em;
		text-decoration: none;
		color: black;
		margin-block-start : 0.2em;
		margin-block-end : 0.2em;
	}

	h2
	{
		font-family: 'Raleway', 'sans-serif', impact, arial;
		font-size: 1em;
		text-decoration: none;
		color: black;
		margin-block-start : 0.2em;
		margin-block-end : 0.2em;
	}


/* SECTION 01 : SEARCH_BAR */

	#search_bar
	{
		display: flex;
		width: 370px;
		block-size: 50px;
		margin-bottom: 20px;
		margin-top: 20px;
	}

/* --SECTION 01 : ICONE (search_bar) -- */

	.search_icone
	{
		background: #f2f2f2;
		height: 50px;
		width: 50px;
		border-radius: 15px 0px 0px 15px;
		display: flex;
		block-size: 50px;	
	}

	.search_icone i
	{
		margin: auto;
	}

/* --SECTION 01 : INPUT (search_bar) -- */

	.search_input
	{
		display: flex;
		block-size: 46px;
		border: 2px solid #f2f2f2;
		height: 46px;
		width: 196px;
	}

	.search_input input
	{
		outline: none;
		border: none;
		height: 42px;
		width: 188px;
		font-size: 1.2em;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 10px;
	}

	#Ville::placeholder
	{
		color: black;
		font-weight: bold;
	}

	.search_imput form
	{
		block-size: 50px;
	}

/* --SECTION 01 : BUTTON "RECHERCHER" -- */

	.search_button
	{
		background: #0065fc ;
		height: 50px;
		width: 120px;
		border-radius: 0px 15px 15px 0px ;
		block-size: 50px;
		display: flex;
	}

	.search_button a
	{
		font-family: 'Raleway', 'sans-serif', impact, arial;
		font-size: 1.2em;
		text-decoration: none;
		color: white;
		font-weight: 400;
		margin: auto;
	}

	.search_button a:hover
	{
		font-weight: bolder;
	}

	.search_button i
	{
		display: none;
	}

	/* --SECTION 01 : MENU_FILTERS -- */

	#menu_filters
	{
		display: flex;
		flex-wrap: wrap;

	}

	#menu_filters p
	{
		margin: auto;
	}


/* --SECTION 01 : FILTER -- */

	.main_title_filter p
	{
		font-weight: bold;
	}

	.box_filters
	{
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		grid-row-gap: 10px;		
	}

	.box_filters p
	{
		font-weight: bold;
	}

	.filter
	{
		display: flex;
		height: 50px;
		max-width: 600px;
	}

/* --SECTION 01 : ICONE (filter) -- */

	.icone_filter
	{
		background: #deebff;
		height: 50px;
		width: 50px;	
		border-radius: 50px;
		display: flex;
		position: absolute;	
	}

	.icone_filter i
	{
		margin: auto;
		color: #0065fc;
	}

/* --SECTION 01 : Title (filters) -- */

	.main_title_filter /* "titre" */
	{
		height: 50px;
		width: auto;
		padding-right: 25px;
		text-align: center;
		display: flex;
	}

	.title_filter /* "Economique, Familial, Romantique, Animaux autorisés" */
	{
		height: 44px;
		width: auto;
		padding-left: 30px;
		padding-right: 25px;
		background: white;
		text-align: center;
		margin-left: 25px;
		border-radius: 0px 50px 50px 0px;
		border: #d9d9d9 solid 3px;
		display: flex;
	}

	.title_filter:hover /* "Economique, Familial, Romantique, Animaux autorisés" */
	{
		background: #deebff;
		border-radius: 0px 50px 50px 0px;
		border: #deebff solid 3px;
	}

	

/* --SECTION 01 : INFO -- */

	.info
	{
		display: flex;
		max-width: 500px;
		align-items: baseline;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.icone_info
	{
		
		min-height: 28px;
		min-width: 28px;
		border-radius: 20px;
		border : #d9d9d9 solid 1px ;
		display: flex;	
	}

	.icone_info i
	{
		margin: auto;
		color: #0065fc;
		font-size: 0.8em;
	}

	.txt_info
	{
		margin-left:10px;
		height: 30px;
	}

	.txt_info p
	{
		font-weight: normal;
		text-align: left;
	}


/* --SECTION 02 -- */

	#section_02
	{
		display: flex;
		justify-content: space-between;
	}

	#hebergements
	{
		background: #f2f2f2;    
		border-radius: 20px;
		padding : 30px;
		width: 60%;
	}

	#Les_plus_populaires
	{
		background: #f2f2f2;
		border-radius: 20px;
		padding: 30px;
		width: 27%;
		display: flex;
		flex-direction: column;
		align-content: center;
	}

/* --SECTION 02 : Hébergements -- */

	.organization_cards_01
	{
		display: flex;
		flex-wrap: wrap;
		column-gap: 3%;
		grid-row-gap: 30px;
	}

	.title_hebergements
	{
		margin-bottom: 15px;
	}

/* --CARD HEBERGEMENT-- */

	.card_hebergement
	{
		display: flex;
		flex-direction: column;
		background: white;
		box-shadow: 8px 6px 6px lightgrey;
		border-radius: 20px;
		width: 222px;
		height: 192px;
		padding: 4px;
	}

	.card_hebergement:hover
	{
		background: #deebff;
	}

	.zoom:hover
	{
		transform: scale(1.09);
		transition: transform 200ms;
	}

/* --PHOTO HEBERGEMENT-- */

	.photo_hebergement /* -- Auberge de La CANEBIERE - Hotel du Port - Hotel Les mouettes - Auberge Le Panier -- */
	{
		height: 116px;
		width: 100%;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}

	.photo_hebergement img /* -- Auberge de La CANEBIERE - Hotel du Port - Hotel Les mouettes - Auberge Le Panier-- */
	{
		height: auto;
		width: 230px;
		position: relative;
		top: -24px;	
	}

	.photo_hebergement_02 /* -- Hotel de la Mer-- */
	{
		height: 120px;
		width: auto;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}


	.photo_hebergement_02 img /* -- Hotel de la Mer-- */
	{
		height: auto;
		width: 225px;
		position: relative;
		top: -55px;	
	}

	.photo_hebergement_03 /* -- Hotel Chez Amina -- */
	{
		height: 120px;
		width: auto;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}


	.photo_hebergement_03 img /* -- Hotel Chez Amina -- */
	{
		height: auto;
		width: 225px;
		position: relative;
		top: -120px;	
	}

/* -- Description HEBERGEMENT -- */

	.description_hebergement
	{
		height: 50px;
		width: auto;
		padding-left: 10px;
	}

/* -- CARD : rating stars -- */

	.rating_stars
	{
		height: 26px;
		width: auto;
		display: flex;
		padding-left: 10px;
	}

	.star_100 i
	{
		color: #0065fc;
		font-size: 1em;
	}

	.star_0 i
	{
		color: #d9d9d9;
		font-size: 1em;
	}

/* -- Afficher plus -- */

	.afficher_plus
	{
		margin-top: 40px
	}

	.afficher_plus h2:hover
	{
		color: #0065fc;
	}


/* --SECTION 02 : Les plus populaires -- */

	#LPP_chart
	{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		width: 100%;
		height: auto;
	}


	.organization_cards_02 /* -- BOX 3 cards LPP -- */
	{
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
		grid-row-gap: 30px;
		width: 100%;
		height: auto;
	}

/* -- CARD LES PLUS POPULAIRES -- */

	.card_LPP
	{
		display: flex;
		background: white;
		box-shadow: 8px 6px 6px lightgrey;
		border-radius: 20px;
		width: 342px;
		height: 132px;
		padding: 4px;
	}

	.card_LPP:hover
	{
		background: #deebff;
	}


	.photo_LPP_01 /* -- Hotel Le soleil du matin -- */
	{
		height: 132px;
		width: 136px;
		overflow: hidden;
		border-radius: 20px 0px 0px 20px;
	}

	.photo_LPP_01 img /* -- Hotel Le soleil du matin -- */
	{
		height: auto;
		width: 225px;
		position: relative;
		left: -50px; 	
	}

	.photo_LPP_02 /* -- Hotel au coeur de l'eau -- */
	{
		height: 132px;
		width: 136px;
		overflow: hidden;
		border-radius: 20px 0px 0px 20px;
	}

	.photo_LPP_02 img /* -- Hotel au coeur de l'eau -- */
	{
		height: auto;
		width: 180px;
		position: relative;
		left: -10px;
	}

	.photo_LPP_03 /* -- Hotel Tout bleu Tout blanc -- */
	{
		height: 132px;
		width: 136px;
		overflow: hidden;
		border-radius: 20px 0px 0px 20px;
	}

	.photo_LPP_03 img /* -- Hotel Tout bleu Tout blanc -- */
	{
		width: 140px;
		height: auto;
		position: relative;
		top: -50px;
	}

/* -- DESCRIPTION - LES PLUS POPULAIRES -- */

	.full_description
	{
		display: flex;
		flex-direction: column;
		width: 202px;
		height: 132px;
	}

	.description_LPP
	{
		width: auto;
		height: 90px;
		padding-left: 10px;
		padding-top: 10px;
	}


	.title_LPP
	{
		margin-bottom: 15px;
	}

	.icone_chart i
	{
		font-size: 1.4em;
	}


/* --SECTION 03 : Activités à Marseille -- */

	#section_03
	{
		
		margin-top: 50px;
	}

	#section_03 h2
	{
		margin: 0px;
	}

	.main_title_activites
	{
		margin-bottom: 30px;
	}

	.title_activite
	{
		height: 30px;
		width: auto;
		padding-left: 20px;
		padding-top: 20px;
	}

	.organization_cards_03
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 3%;
		width: 100%;
		height: auto;
	}

/* --SECTION 03 : SOLO "Activites à Marseille" -- */

	.card_activite_01 /* -- Vieux Port + Parc National des Calanques -- */
	{
		display: flex;
		flex-direction: column;
		background: white;
		box-shadow: 8px 6px 6px lightgrey;
		border-radius: 20px;
		width: 290px;
		height: 400px;
	}

	.card_activite_01:hover /* -- Vieux Port + Parc National des Calanques -- */
	{
		background: #deebff;
	}

	.photo_activite_01 /* -- Vieux Port -- */
	{
		height: 350px;
		width: 290px;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}

	.photo_activite_01 img /* -- Vieux Port -- */
	{
		width: auto;
		height: 400px;
		position: relative;
		left: -162px;
	}

	.photo_activite_04 /* -- Parc National des Calanques -- */
	{
		height: 350px;
		width: 290px;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}

	.photo_activite_04 img /* -- Parc National des Calanques -- */
	{
		width: auto;
		height: 410px;
		position: relative;
		left: -160px;
		top: -10px;
		filter: brightness(1.1);
	}

/* --SECTION 03 : DUO "Activites à Marseille" -- */

	.organization_cards_DUO
	{
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
		grid-row-gap: 30px;
		width: 290px;
		height: 400px;
	}

/* --SECTION 03 : DUO "big cards " -- */

	.card_activite_02 /* -- Fort de Pomègues + Parc Longchamps -- */
	{
		display: flex;
		flex-direction: column;
		background: white;
		box-shadow: 2px 2px 2px 5px #e7e7e7;
		border-radius: 20px;
		width: 290px;
		height: 200px;
	}

	.card_activite_02:hover /* -- Fort de Pomègues + Parc Longchamps -- */
	{
		background: #deebff;
	}

	.photo_activite_02 /* -- Fort de Pomègues */
	{
		height: 150px;
		width: 290px;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}

	.photo_activite_02 img /* -- Fort de Pomègues */
	{
		width: 290px;
		height: auto;
		position: relative;
		top: -125px; 
	}


	.photo_activite_06 /* -- Parc Longchamps -- */
	{
		height: 150px;
		width: 290px;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}


	.photo_activite_06 img /* -- Parc Longchamps -- */
	{
		width: 290px;
		height: auto;
	}

/* --SECTION 03 : DUO "little cards" -- */

	.card_activite_03 /* -- Île de Frioul + Notre-Dame-de-la-Garde -- */
	{
		display: flex;
		flex-direction: column;
		background: white;
		box-shadow: 2px 2px 2px 5px #e7e7e7;
		border-radius: 20px;
		width: 290px;
		height: 170px;
	}

	.card_activite_03:hover /* -- Île de Frioul + Notre-Dame-de-la-Garde -- */
	{

		background: #deebff;	
	}


	.photo_activite_03 /* -- Île de Frioul -- */
	{
		height: 120px;
		width: 290px;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}

	.photo_activite_03 img /* -- Île de Frioul -- */
	{
		width: 325px;
		height: auto;
		position: relative;
		top: -14px;
		left: -30px;
	}

	.photo_activite_05 /* -- Notre-Dame-de-la-Garde -- */
	{
		height: 120px;
		width: auto;
		overflow: hidden;
		border-radius: 20px 20px 0px 0px;
	}


	.photo_activite_05 img /* -- Notre-Dame-de-la-Garde -- */
	{
		width: 290px;
		height: auto;
	}


/* --FOOTER -- */

	footer
	{
		display: flex;
		min-height: 100px;
		width: 100%;
		background: #f2f2f2;
		margin-top: 50px;
		padding: 30px;
	}

	footer h2
	{
		margin-bottom: 20px;
	}

	footer ul
	{
		list-style-type: none;
	}

	footer li
	{
		margin-bottom: 10px;
	}

	footer li:hover
	{
		text-decoration-line: underline;
	}

	.box_footer
	{
		display: flex;
		width: 33.33%;
		flex-direction: column;
		text-align: left;
	}









